/*====================*/
/* Media Queries*/
/*===================*/

@media screen and (max-width:1199px) {
    .hero_section .hero_content h2 {
        font-size: 40px;
    }

    .section_featured_services .featured_services_content {
        padding-right: 0;
    }
}

@media screen and (max-width:991px) {
    .hero_section {
        padding-top: 150px;
    }

    .section_featured_services .featured_services_content {
        margin-bottom: 40px;
    }

    .section_testimonials .carousel {
        margin-top: 40px;
    }
}

@media screen and (max-width:575px) {
    body {
        font-size: 15px;
    }

    .header_area .navbar-brand {
        font-size: 20px;
    }

    .header_area .navbar-brand > img {
        height: 48px;
        width: 48px;
    }

    .hero_section .hero_content h2 {
        font-size: 30px;
    }

    .hero_section .hero_content p {
        font-size: 16px;
        line-height: inherit;
    }

    .hero_section .hero_img {
        padding-top: 1rem;
    }

    .f_size_30 {
        font-size: 24px !important;
        line-height: 1.2 !important;
    }

    h2 br {
        display: none;
    }

    .intro_area h2 {
        font-size: 28px;
    }

    .section_featured_services .nav-link.p_left_sm {
        padding-left: 0;
    }

    .section_testimonials .carousel-inner {
        padding: 2rem;
    }

    .section_testimonials .carousel-item div.media {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .section_testimonials .carousel-item div.media > img {
        margin: 0 0 1rem;
    }

    .section_testimonials .carousel-indicators {
        bottom: -70px;
    }
}
